@model PhotoLab.Models.Service

@{
    ViewData["Title"] = "Видалення";
}

<h1>Видалити послугу</h1>

<h3>Дійсно бажаєте це видалити?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10" style="white-space: pre-line;">@Html.DisplayFor(model => model.Description)</dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ServiceId" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index">Назад до списку</a>
    </form>
</div>
